################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Counter Squares (C#)/.vs/Counter Squares/v15
/.vs/My-Projects/v15
/.vs
/Counter Squares (C#)/Gra/obj
/Counter Squares (C#)/Gra/bin/Debug
